# Quiz 10

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
data = pd.read_csv("homework_10.1.csv").drop("Unnamed: 0", axis=1)
data

     city  time         X          y
0       0     0  0.144044   7.552716
1       0     1  1.454274  10.077829
2       0     2  0.761038  12.372731
3       0     3  0.121675  11.489263
4       0     4  0.443863  13.104833
..    ...   ...       ...        ...
355     9     7  0.160928   6.829939
356     9     8 -0.190653   5.756958
357     9     9 -0.394850   6.793439
358     9    10 -0.267734   5.386801
359     9    11 -1.128011   2.370970

[360 rows x 4 columns]

In [3]:
for day in range(0, 12):
    temp_df = data[data['time'] == day]
    results = sm.OLS(temp_df['y'], sm.add_constant(temp_df[['X', 'city']])).fit()
    print(f"Day {day}:\n", results.params, "\n")

Day 0:
 const    5.414111
X        0.802614
city    -0.588217
dtype: float64

Day 1:
 const    7.412168
X        0.872209
city    -0.598917
dtype: float64

Day 2:
 const    9.681580
X        1.126052
city    -0.780823
dtype: float64

Day 3:
 const    10.689779
X         2.149140
city     -0.786411
dtype: float64

Day 4:
 const    11.222937
X         0.924044
city     -0.693664
dtype: float64

Day 5:
 const    12.251995
X         0.792840
city     -0.710516
dtype: float64

Day 6:
 const    11.990333
X         2.185523
city     -0.768706
dtype: float64

Day 7:
 const    11.891259
X         0.645279
city     -0.771369
dtype: float64

Day 8:
 const    11.045561
X         0.003421
city     -0.659745
dtype: float64

Day 9:
 const    10.194366
X         1.386962
city     -0.615275
dtype: float64

Day 10:
 const    9.199576
X        1.931583
city    -0.654286
dtype: float64

Day 11:
 const    7.172300
X        2.270414
city    -0.542214
dtype: float64

In [4]:
for city in range(0, 10):
    temp_df = data[data['city'] == city]
    results = sm.OLS(temp_df['y'], sm.add_constant(temp_df[['X', 'time']])).fit()
    print(f"City {city}:\n", results.params, "\n")

City 0:
 const    10.057704
X         1.653637
time      0.179053
dtype: float64

City 1:
 const    4.007740
X        1.995821
time     0.216854
dtype: float64

City 2:
 const    7.350992
X        1.397155
time     0.103915
dtype: float64

City 3:
 const    12.205087
X         1.758854
time      0.132452
dtype: float64

City 4:
 const    10.039316
X         0.419967
time      0.141446
dtype: float64

City 5:
 const   -1.375690
X        1.149696
time     0.235524
dtype: float64

City 6:
 const    6.805944
X        1.588913
time     0.161627
dtype: float64

City 7:
 const    2.170824
X        2.018874
time     0.201373
dtype: float64

City 8:
 const    2.218487
X        1.570440
time     0.211979
dtype: float64

City 9:
 const    4.554158
X        1.457224
time     0.163707
dtype: float64

In [5]:
num = 100000000

X = np.clip(np.random.normal(3, 1, (num,)), 0.01, 100)

Z = np.clip(np.random.normal(3, 1, (num,)), 0.01, 100)

Y = np.exp(np.log(X + Z) + np.random.normal(0, 1, (num,)))

data2 = pd.DataFrame({'Y': Y, 'X': X, 'Z': Z})
results2 = sm.OLS(data2['Y'], sm.add_constant(data2[['X', 'Z']])).fit()
results2.params

const    0.011515
X        1.646888
Z        1.646705
dtype: float64

In [15]:
num = 10000 


Z = np.random.normal(0, 1, (num,)) 

X = Z + np.random.normal(0, 1, (num,)) 

Y = 1.5 * X + 2.3 * Z + np.random.normal(0, X**2, (num,)) 

data3 = pd.DataFrame({'Y': Y, 'X': X, 'Z': Z})
results3 = sm.OLS(data3['Y'], sm.add_constant(data3[['X', 'Z']])).fit()

print(results3.bse)

X_coeffs = []
for trial in range(100):
    Y = 1.5 * X + 2.3 * Z + np.random.normal(0, X**2, (num,)) 
    data3 = pd.DataFrame({'Y': Y, 'X': X, 'Z': Z})
    results3 = sm.OLS(data3['Y'], sm.add_constant(data3[['X', 'Z']])).fit()
    X_coeffs.append(results3.params['X'])
print(np.std(X_coeffs))

const    0.034375
X        0.034384
Z        0.048720
dtype: float64
0.0549224726554197